@import '~antd/dist/antd.css';

.App {
  text-align: center;
  background-color: #41404c;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  align-self: center;
  background-color:#222;
  /* #5b5a68; */
  height: 100px;
  padding: 20px;
  color: white;
  font-size: 3em;
}
.Header-content{
  float: right;
  /* display: inline-block */
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
