@import '~antd/dist/antd.css';

@media only screen and (max-width: 600px) {
    div.gridDash {
    background-color: #41404c;
    width: 100%;
    height: 30%;
    flex: 1
    }
    .ghost{
        margin-top: 15%;
        height: 25%
    }
    .comments{
        width:80% ;
        margin-right: auto;
        margin-left: auto;
    }
    #submit{
        width: 90%;
        height: 6vh
    }
  }
  @media only screen and (min-width: 600px) {
    div.gridDash {
    background-color: #41404c;
    width: 33.3%;
    height: 30%;
    display: inline-block
    }
    a{
        font-style: italic
    }
    .ghost{
        margin-top: 25%;
        height: 30%;
        width: 194px;
        /* margin-bottom: 10px         */
    }
    .comments{
        width:80% ;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto
    }
  }
