@import '~antd/dist/antd.css';
@media only screen and (min-width: 600px) {
    .login-form{
        margin-left: auto;
        width: 50%;
        margin-right: auto;
        color: white
}
}
@media only screen and (max-width: 600px) {
    .login-form{
        /* background-color: #41404c; */
        margin-left: auto;
        margin-right: auto;
        width: 80%
    }   
}    
.a{
    color: white;
    font-size: 1.2em
}